@import url("https://use.typekit.net/rkh5rvy.css");

body {
  padding: 30px;
  font-family: azo-sans-web, sans-serif!important;
  font-size: 1rem!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  text-align: left!important;
}

h2 {
  font-weight: 500!important;
  font-size:2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  /* display:flexbox; */
}


.mini-app {
  display:flex!important;
}

.input-group {
  padding: 15px 0px;
}

input {
  font-size: 0.9em;
}
input:focus {
  background: #fff;
  color: #0A0F19;
  box-shadow: 2px 0px 5px #FFD90F;
}

input::placeholder {
  color: #848891!important;
}

button {
  border-radius:50px!important;
  background:#0066FF!important;
  color:white;
  border: 0px!important;
  padding-left: 40px!important;
  padding-right: 40px!important;
  font-size: 0.8em!important;
  margin: 20px 0px!important;
}

button:hover {
  color: white!important;
}

div.ant-input-number {
  display:block!important;
  width:100%;
}
.subtext {
  font-size:0.8em;
  font-style:italic;
}

.input-group > p {
  margin-bottom:5px;
}

.hide {
  visibility: hidden;
}

.side {
  padding-right:10%!important;
}
.left {
  flex-basis: 60%;
}
.right {
  flex-basis:40%;
}

.nft-preview {
  width:100%;
  margin-bottom: 10px;
}

.section {
  border-top: #363F53 1px solid;
  padding-top: 10px;
}

.prize-title {
  font-size: 5em;
  line-height:1;
  color:#fff;
}

.metric {
  font-size: 0.9em;
  line-height: 1.1;
  color:#fff;
  font-weight:500;
}

.value {
  font-size:1.7em;
  font-weight: 500;
  color:#fff;
  line-height: 1;
  margin-top:5px;  
  margin-bottom:2px;
}

.raffle-action {
  border-top: #363F53 0.5px solid;
  padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  display:flex;
}

.extra {
  font-size:0.9em;
  opacity: 0.8;
}

.bloc {
  flex-basis:50%;
  padding-right:5%;
}

.letslight {
  color: #fff;
  font-weight:500;
}

.total-tix {
  font-size: 0.7em;
}

/* .v-container {
  position: relative;
}

.v-content {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

.action {
  border-radius:5px;
  background-color: rgba(204,224,255,0.08);
  padding:15px;
  display:flex;
  /* height:200px; */
}

.action-box {
  padding-left:10%;
}

/* .top {
  display:flex;
} */

.price-info {
  margin-top:20px!important;
  text-align: center!important;
}

.action-left { flex-basis: 40%;}
.action-right { flex-basis: 60%;}

.logo { height: 100px;}